<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="public/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node_libros</title>
</head>
<body>
    <div id="nav"><%- include('./partials/nav.ejs') %></div>
    <section id="principal">
        <% if (libros.length == 0) { %>
         <h1 id="titulo">No hay libros Disponibles</h1>
        <% }else{ %>
       <% for (let index = 0; index < libros.length; index++) {%>
        <%const element = libros[index];%>
      <div class="box"> 
        <p><%= element.nombre%></p>
        <img src="<%= element.imagen%>" alt="">
        <p><%= element.autor%></p>
        <p><%= element.descripcion%></p>
        <button ><a href="/delete/<%= element.id %>">Delete</a></button>
    </div> 

       <%}%>
    <%}%>
    </section>
      
  
</body>
</html>